@import "tailwindcss";



:root {
  --foreground: #ffffff;
  --background: black;
}


@theme inline {
  --color-band-red: #F02700;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@utility text-stroke-2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #E4E4E4;
}

@utility text-stroke-3 {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #E4E4E4;
}

@utility text-stroke-4 {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #E4E4E4;
}

/* Obtazeni okraju */
@layer utilities {
    .font-orbitron {
      font-family: "Orbitron", sans-serif;
    }
}


body {
    background-color: #000; /* black */
    color: #E4E4E4; /* text color */
}
 
html{
  scroll-behavior: smooth;
}

@font-face {  font-family: "Orbitron";  
  font-style: normal;  
  font-weight: 600; 
  font-display: swap;
  src: url("/fonts/Orbitron-Black.ttf") format("truetype");}

@font-face {font-family: "ArchivoBlack";
  src: url("/fonts/ArchivoBlack.tff") format("truetype");}

  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 30s linear infinite;
  }

@keyframes gradient {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }

  @keyframes wave {
    0%, 100% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
  }

  @keyframes sheen {
    0% { transform: rotate(12deg) translateX(-150%); }
    100% { transform: rotate(12deg) translateX(150%); }
  }